.notebook-box {
  padding: 2rem;
  margin: 2rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}


.search-bar {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 40px;
  border: 1px solid #ccc;
  background: #f9f9f9;
}

.note-form{
  margin-top: 1rem;
}

.note-form input,
.note-form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 1rem;
}

.note-form button {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  background-color: #a8cd3d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.note-form button:hover {
  background-color: #7e992d;
}

.note-form .tag-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.note-form .tag-input .tag-form {
  display: flex;
  gap: 0.5rem;
}

.note-form .tag-input .tag-form input {
  flex: 1;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 0;
}

.note-form .tag-input .add-tag-btn {
  background-color: #a8cd3d;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.add-tag-btn:hover {
  background-color: #7e992d;
}

.note-form .tag {
  background: #a8cd3d;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: fit-content;
  min-width: 20%;
}

.note-form .tag button {
  background: none;
  border: none;
  padding: 0;
  color: white;
  font-weight: 400;
  cursor: pointer;
  font-size: 2rem;
}

.note-card-expanded {
  background: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.note-clickable {
  cursor: pointer;
  font-size: 1.1rem;
  color: #2c3e50;
  margin: 0;
}

.note-card-expanded p {
  font-size: 0.95rem;
  color: #444;
  margin-top: 0.5rem;
  white-space: pre-line;
}

.note-tags {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.small-tag {
  background: #caee67;
  font-size: 0.75rem;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  
}

.note-actions {
  margin-top: 0.8rem;
  display: flex;
  gap: 0.6rem;
}

.note-actions button {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s;
}

.note-actions button img{
  width: 20px;
  height: 20px;
}

.note-actions button:hover {
  background-color: #e0e0e0;
  border-color: #aaa;
}

.note-actions button:last-child {
  background-color: #fdd;
  border-color: #fbb;
  color: red;
}
.note-actions button:last-child img{
  width: 25px;
}
.note-actions button:last-child:hover {
  background-color: #fbb;
  border-color: #f88;
}