.courses{
    margin-top: 7vh;
    width: 100%;
    height: 100vh;
}
.courses .courseContent{
    background-color: #d5dcde;
    width: 100%;
    min-height: 80%;
    display: flex;
    gap: 20px;
    padding: 20px 50px;
}
.courses .courseContent .courseSubPage{
    width: 100%;
    min-height: 600px;
    background: #ffffff;
    border-radius: 20px;
}
