.adminPanel {
  padding: 40px;
  background: #ffffff;
  min-height: 100vh;
  color: black;
  font-family: Arial, sans-serif;
  margin-top: 8vh;
}

.adminPanel h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #a8cd3d;
}

.tableWrapper {
  overflow-x: auto;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.51);
  backdrop-filter: blur(8px);
}

th, td {
  padding: 14px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 0.95rem;
}

th {
  background-color: #a8cd3d;
  color: black;
  font-weight: 500;
  position: sticky;
  top: 0;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btnGroup {
  display: flex;
  gap: 10px;
}

.btnGroup button {
  padding: 10px 16px;
  background: #adcd3d;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btnGroup button:hover {
  background: #88aa22;
  color: white;
}

.eventCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: flex-start;
}

.eventCard {
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  text-align: center;
  transition: all 0.3s ease;
  background: #f4f4f4;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.eventCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.eventCard p {
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
}

.eventCard.active {
  border: 2px solid #a8cd3d;
  box-shadow: 0 0 10px rgba(168, 205, 61, 0.7);
}
